.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus,
.btn2.focus,
.btn2:active.focus,
.btn2.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus,
.btn2.focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn2-default:focus,
.btn2-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn2-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn2-default:active,
.btn2-default.active,
.open > .dropdown-toggle.btn2-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
///////////
.btn3 {
  display: inline-block;
  //padding: 6px 12px;
 
  margin-bottom: 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn3:focus,
.btn3:active:focus,
.btn3.active:focus,
.btn3.focus,
.btn3:active.focus,
.btn3.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn3:hover,
.btn3:focus,
.btn3.focus {
  color: #333;
  text-decoration: none;
}
.btn3:active,
.btn3.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn3-default {
  color:#414143;
   background:#FFC20F;
  border-color: #ccc;
  font-weight:bold;
  font-size:1.2em;
   text-align:center;
}
.btn3-default:focus,
.btn3-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn3-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn3-default:active,
.btn3-default.active,
.open > .dropdown-toggle.btn2-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
@media(max-width:500px){
	.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
	}
	
	
}