body{

    background-size: cover;
    background-color:#F5F5F5;
}


.face{
    margin-top:4em;
    margin-left:0px;
    padding-left:0px;
}
.goo{
    margin-top:1em;
}
#form2{
    margin-top:2em;
}

.al{
    margin-left:1em
}
#tes{

    display:none;
}

.tops-nav{
    float: right;
    text-align: center;
    margin: .8em 0 0 0;
    word-spacing: 10px;
}

.tops-nav ul{
    padding: 0;
    margin: 0;
    float: none;
}
.tops-nav ul li{
    display: inline-block;
    float: none;
}

.tops-nav ul li a{
    color: #ffffff !important;
    font-size: 1em;
    margin: 0 2em;
    padding: 0;
    text-decoration: none;
    letter-spacing: 1px;
    border-right: none;
    text-transform: uppercase;
}
.tops-nav ul li a.list-border{
    border-left: none;
}
.tops-nav ul li a:hover{
    color: #fec303 !important;
}
.tops-nav ul li a.active{
    color: #fec303 !important;
    background: none;
}

/*-- responsive --*/
@media(max-width:1366px){
    .tops-nav ul li a {
        margin: 0 1em;
    }
    .tops-nav {
        width: 68%;
    }
}
@media(max-width:1280px){
    .tops-nav {
        width: 65%;
    }
}
@media(max-width:1080px){
    .tops-nav {
        width: 60%;
    }
    .tops-nav ul li a {
        margin: 0 .5em;
    }

}
.tops-nav {
    width: 57%;
}
.tops-nav ul li a {
    font-size: .9em;
}


.tops-nav {
    width: 58%;
    text-align: left;
}


.tops-nav ul li {
    display: block;
    float: none;
    margin: 1em 0;
}
.tops-nav ul li a {
    margin: 0;
}
